body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{

margin:0;

padding:0;
user-select: none;
}
body{
	font-size:14px;
	font-family：微软雅黑;
	width:100%;
	color: #000;
	overflow:-Scroll;
	overflow-x:hidden;

}
input,select,textarea{outline:none;}
li,ul{
	list-style: none;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
button{
	border:none;
	outline: none;
}
input{
	border: none;
}
